<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
        <!-- action -->
        <record id="action_library_book" model="ir.actions.act_window">
            <field name="name">Books</field>
            <field name="res_model">library.book</field>
            <field name="view_mode">list,form</field>
        </record>

        <record id="action_library_member" model="ir.actions.act_window">
            <field name="name">members</field>
            <field name="res_model">library.member</field>
            <field name="view_mode">list,form</field>
        </record>

        <record id="action_library_loan" model="ir.actions.act_window">
            <field name="name">loans</field>
            <field name="res_model">library.loan</field>
            <field name="view_mode">list,form</field>
        </record>

        <!-- menus -->
        <menuitem
            id="menu_library_root"
            name="Library"
            sequence="10"/>

        <menuitem
            id="menu_library_operations"
            name="Operations"
            parent="menu_library_root"
            sequence="10"/>
        
        <menuitem
            id="menu_library_master_data"
            name="Master Data"
            parent="menu_library_root"
            sequence="20"/>
        
        <menuitem
            id="menu_library_loan_action"
            name="Loans"
            parent="menu_library_operations"
            action="action_library_loan"
            sequence="10"/>
            
        <menuitem
            id="menu_library_book_action"
            name="Books"
            parent="menu_library_master_data"
            action="action_library_book"
            sequence="10"/>

        <menuitem
            id="menu_library_member_action"
            name="Members"
            parent="menu_library_master_data"
            action="action_library_member"
            sequence="10"/>

        <menuitem
            id="menu_library_report_root"
            name="Reports"
            parent="menu_library_root"
            sequence="30"/>

        <menuitem
            id="menu_loan_excel_report"
            name="Laporan Peminjaman (Excel)"
            parent="menu_library_report_root"
            action="action_loan_excel_wizard"
            sequence="10"/>
    </data>
</odoo>
